.about {
  display: flex;
  justify-content: start;
  align-items: center;
}

main p {
  padding: 2%;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: linear-gradient(var(--main-color), transparent);
}

.price {
  width: 50%;
  padding: 30px;
}

.price h3 {
  text-transform: uppercase;
  padding: 10%;
  font-size: 40px;
  text-align: center;
}
.price__header {
  text-align: left;
}

.price h3:first-child {
  padding-top: 0;
}

.price p {
  display: flex;
  justify-content: space-between;
  width: 320px;
  font-size: 20px;
}

.informations {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.charges {
  padding: 5%;
}

.charges li {
  text-transform: uppercase;
  font-size: 20px;
  padding: 2%;
}

.deposit {
  list-style: none;
  padding: 5%;
}

.deposit li {
  text-transform: uppercase;
  font-size: 20px;
  padding: 2%;
}
@media (max-width: 1024px) and (orientation: landscape) {
  .header {
    margin-top: 60px;
  }
  .burger {
    display: none;
  }
}
@media (max-width: 1000px) and (orientation: landscape) {
  .header {
    margin-top: 60px;
  }
  .burger {
    display: block;
  }
  .charges li {
    list-style: none;
  }
}
@media (max-width: 1000px) and (orientation: portrait) {
  .charges li {
    list-style: none;
  }
}

@media (max-width: 768px) and (orientation: landscape) {
  .price {
    width: 70%;
  }

  .price p {
    width: 100%;
    text-align: left;
  }

  .main {
    flex-direction: column;
    align-items: center;
  }

  .informations {
    border-top: var(--main-color) 3px solid;
    width: 100%;
  }
}

@media (max-width: 600px) and (orientation: portrait) {
  .price {
    width: 100%;
  }

  .price p {
    width: 100%;
    padding: 10px;
    text-align: left;
  }

  .main {
    flex-direction: column;
    align-items: center;
  }

  .informations {
    border-top: var(--main-color) 3px solid;
    width: 100%;
  }

  .deposit {
    margin: 0px;
    padding: 0px;
  }
}

@media (max-width: 320px) and (orientation: portrait) {
  .header h1 {
    font-size: 45px;
    padding: 20px -30px;
  }
}
