main h2 {
  text-transform: uppercase;
  font-size: 40px;
  text-align: left;
  margin: 40px;
}
.main {
  background-image: linear-gradient(var(--main-color), transparent);
  flex-direction: column;
}

.picture {
  padding: 5%;
  text-align: left;
}

.picture img {
  border: 1px solid grey;
  margin: 0 3px;
  transition: 0.5s;
  text-align: center;
}

.picture img:hover {
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.7);
  transform: scale(1.1);
}

@media (max-width: 375px) and (orientation: portrait) {
  .picture {
    flex-direction: column;
  }

  .picture a {
    flex-basis: 30%;
  }

  .wrap h2 {
    padding: 10%;
    text-align: center;
  }
}

@media (max-width: 640px) and (orientation: landscape) {
  .picture a {
    flex-basis: 25%;
  }

  .wrap h2 {
    padding: 10%;
  }
}

@media (max-width: 320px) and (orientation: portrait) {
  .picture a {
    flex-basis: 33%;
  }

  .wrap h2 {
    padding: 10%;
  }

  section {
    margin-top: 30px;
  }
}
