.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10%;
  text-transform: uppercase;
  background-image: linear-gradient(var(--main-color), transparent);
}

.section__article {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.article__list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.article__listItem {
  font-size: 18px;
  line-height: 150%;
  padding: 10px 0;
  width: 100%;
  text-align: left;
}

.listItem__link {
  color: black;
  text-decoration: none;
}

#map {
  height: 100%;
  color: grey;
  border: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1024px) and (orientation: landscape) {
  .article__paragraph {
    margin: 5px;
  }
}
@media (max-width: 1000px) and (orientation: portrait) {
  .section__article {
    width: 80%;
  }
  .contact {
    flex-direction: column;
    align-items: center;
  }
  .article__paragraph {
    margin: 5px;
  }
}
@media (max-width: 812px) and (orientation: landscape) {
  .section__article {
    width: 80%;
  }
  .article__listItem {
    font-size: 20px;
  }
  .contact {
    flex-direction: column;
    align-items: center;
  }
  .article__paragraph {
    margin: 5px;
  }
}
@media (max-width: 414px) and (orientation: portrait) {
  .header h1 {
    font-size: 50px;
    padding: 20px -30px;
  }
  .section__article {
    width: 100%;
    margin: 0;
    padding: 15px 5;
  }
  .contact {
    flex-direction: column;
    align-items: center;
  }
  .article__list {
    padding: 0px;
    margin: 0px;
    width: 100%;
  }
  .article__listItem {
    font-size: 20px;
  }
  .article__paragraph {
    margin-top: 5px;
  }
}
@media (max-width: 320px) and (orientation: portrait) {
  .header h1 {
    font-size: 45px;
    padding: 20px -30px;
  }
}
