.mainSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(var(--main-color), transparent);
}

main h2 {
  text-transform: uppercase;
  font-size: 40px;
  text-align: left;
  margin: 40px;
}

main section h2:first-child {
  padding-top: 0;
}

.caravan,
.lodge {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

.photo {
  width: 30%;
  height: 290px;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.photo img {
  position: relative;
  width: 100%;
  height: 100%;
}

.description {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 60%;
}

.description p {
  font-size: 20px;
  margin: 10px;
}
.description ul {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 5px;
}
.description li {
  padding: 5px;
}
.galery a {
  width: 150px;
  border: 3px solid black;
  color: #fff;
  background-color: brown;
  display: inline-block;
  margin: 40px;
  padding: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  transition: 0.5s;
}

.galery a:hover {
  background-color: hsl(0, 59%, 55%);
  letter-spacing: 1px;
}

@media (max-width: 736px) and (orientation: landscape) {
  .mainSection {
    margin-top: 100px;
  }

  .caravan,
  .lodge {
    flex-direction: column;
  }

  .photo {
    width: 30%;
    height: 200px;
  }

  .description {
    width: 100%;
  }
}
@media (max-width: 800px) and (orientation: portrait) {
  .mainSection {
    margin-top: 100px;
  }

  .photo {
    width: 50%;
    height: 200px;
    margin: 20px;
  }
}
@media (max-width: 700px) and (orientation: portrait) {
  .mainSection {
    margin-top: 100px;
  }
  main h2 {
    text-align: center;
  }
  .caravan,
  .lodge {
    flex-direction: column;
  }

  .photo {
    width: 80%;
    height: 200px;
  }

  .description {
    width: 100%;
  }
}
