*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family:'Amatic SC', cursive, sans-serif;
  font-size: 10px;
}
body{
  background-color: whitesmoke
}

.clearfix::after{
  content: "";
  display: block;
  clear:both;
}
.wrapper{
  width: 95vw;
  margin: 0 auto;
  background-color: whitesmoke
}
header{
  position: relative;
  width: 95vw;
  height: 50vh;
  background-image: url("/images/slider1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  box-shadow:8px 8px 2px 2px rgba(0, 0, 0, .5);
  transition:1.5s;
}

nav{
  position: fixed;
  width: 100%;
  height: 10vh;
  top:0;
  left: 0;
  list-style: none;
  text-align: center;
  line-height: 10vh;
  font-size: 0;
  margin: 0 auto;
  margin-bottom: 10px;
  display:flex;
  flex-direction: row;
  justify-content: center;
  background-image: linear-gradient( rgb(32, 204, 195), transparent);
  
}

.logo{
  border: 5px solid green;
  box-shadow: 8px 8px 2px 2px rgba(0, 0, 0, .5);
  border-radius: 50%;
  background-color:rgb(32, 204, 195);
}

li{
  display: inline-block;  
}

.menu a{
  position: relative;
  display: block;
  color: white;
  text-shadow: 2px 5px black;
  text-decoration: none;
  font-size: 45px;
  text-align: center;
  margin-left: 30px;
  transition: 1s;
}

nav li a:hover{
  font-size: 60px;
  border-bottom: 4px solid rgb(32, 204, 195) ;
}
main{
  height: 150vh;
  margin: 10% 5%;
}
main>* {
  display:flex;
  flex-direction: row;
  margin: 7% 0;
  background-image: linear-gradient( rgb(32, 204, 195), transparent);
}

section{
  background-image: unset;
  background-color: whitesmoke;
  font-size: 50px;
  border-bottom: 3px solid rgb(32, 204, 195);
}
  .holenderski h3{
    font-size: 50px;
    border-bottom: 3px solid rgb(32, 204, 195);
  }
.description{
  width: 50%;
  height: 60%;
  padding:20px 0 20px 40px;
  font-size: 20px;
  background-color: transparent;
}

.photo {
  background-image: url(/images/slider3.jpg);
  width: 30vw;
  height: 450px;
  position: static ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.galery{
  position: relative;
  height:40px;
  width: 150px;
  top: 380px;
  right: 6%;
  color: black;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  letter-spacing: 1px;
  font-size: 25px;
  background-image: radial-gradient( white, rgb(32, 204, 195));
}

.galery a{
  color: black;
  text-decoration: none;
}

footer{
  width: 100vw;
  margin-top: 30%;
  background-image: linear-gradient( rgb(32, 204, 195), transparent);
  height: 50vh;
  display:flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px auto;
  font-size: 20px;
  color:black;
  position:relative;
  overflow: hidden;
}

.meet-us, .here-we-are, .location, .message{
  width: 20%;
  height: 100%;
  padding: 20px auto;
  text-align: center;
}

.message{
  float:left;
  text-align: justify;
}

.header-in-footer{
  font-size: 35px;
  padding: 10px;
  margin-bottom: 25px;
  box-shadow:2px 2px 1px 1px rgba(0, 0, 0, .5);
  text-align: center;
}
.meet-us p{
  line-height: 140%;
  letter-spacing: 3px;
}

footer ul {
  list-style: none;
  display:flex;
  flex-direction: column;
  justify-content: center;
}
footer ul li{
  margin: 5px auto;
}

.location a{
  text-decoration: none;
  color: black;
}
.location a:hover{
  color:#555;
border-bottom: 1px solid;
transition: .5s;
}

form{
  width: 50%;
  margin: 0 auto;
  font-size: 15px;
}
form input{
  height: 30px;
  width:90%;
  border-radius: 10%;
  border: 2px solid #666 ;
  margin: 4px;
  
}

form textarea{
  height: 70px;
  width:90%;
  border-radius: 10%;
  margin: 4px;
  border: 2px solid #666 ;
}

form button{
  height: 20px;
  width: 80 px;
  color: white;
  background-color: #666;
  border: 2px solid #666;
  border-radius: 16%;
  transition: .5s;
}
form, input, textarea:focus{
  outline: none ;
 }
form button:hover{
  color: black;
  background-color: #bbb;
}
.last-info{
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}