*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family:'Amatic SC', cursive, sans-serif;
  font-size: 10px;
}

body{
  background-color: whitesmoke
}

.clearfix::after{
  content: "";
  display: block;
  clear:both;
}

.wrapper{
  width: 95vw;
  margin: 0 auto;
  background-color: whitesmoke;
}
.bg-animation{
z-index: -1;
  overflow: hidden;
}
.animation-area div{
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: 6px solid orange;

}
.animation-area div:nth-child(1){
  top: 90%;
  left: 90%;
  animation: animate 32s linear infinite alternate ;
}
.animation-area div:nth-child(2){
  top: 90%;
  left: 10%;
  animation: animate 14s linear infinite alternate ;
}
.animation-area div:nth-child(3){
  top: 90%;
  left: 12%;
  animation: animate 30s linear infinite alternate ;
}
.animation-area div:nth-child(4){
  top: 90%;
  left: 90%;
  animation: animate 12s linear infinite alternate ;
}
.animation-area div:nth-child(5){
  top: 90%;
  left: 93%;
  animation: animate 20s linear infinite alternate ;
}
.animation-area div:nth-child(6){
  top: 90%;
  left: 7%;
  animation: animate 20s linear infinite alternate ;
}

@keyframes animate{
  0%{
    transform: scale(1) translateY(200vh) rotate(0);
    opacity: 0;
  }
  100%{
    transform: scale(1.3)translateY(-80vh) rotate(360deg);
    opacity: 1;
  }
}

header{
  z-index: 1;
  position: relative;
  width: 95vw;
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  background-image: url("/images/slider1.jpg");
  box-shadow:8px 8px 2px 2px rgba(0, 0, 0, .5);
  transition:1.5s;
}

nav{
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 10vh;
  top:0;
  left: 0;
  margin: 0 auto 10px auto;
  display:flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  text-align: center;
  line-height: 10vh;
  font-size: 0;
  background-image: linear-gradient( rgb(192, 124, 34), transparent);
  
}

.logo{
  border: 5px solid green;
  box-shadow: 8px 8px 2px 2px rgba(0, 0, 0, .5);
  border-radius: 50%;
  background-color:rgb(192, 124, 34);
}

li{
  display: inline-block;  
}

.menu a{
  position: relative;
  display: block;
  margin-left: 30px;
  color: white;
  text-shadow: 2px 5px black;
  text-decoration: none;
  font-size: 45px;
  text-align: center;
  transition: 1s;
}

nav li a:hover{
  font-size: 60px;
  border-bottom: 4px solid rgb(192, 124, 34) ;
}

main{

  max-width: 70vw;
  margin: 0% auto;
}

.title h3{
  border-bottom: 3px solid rgb(192, 124, 34);
}

.title{
  margin-top: 8%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 70px;
  font-weight: bold;
  letter-spacing: 3px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 3px;
}
 
.toucan1{
  padding-right: 15px;
  border-bottom: 3px solid rgb(192, 124, 34);
}

main>* {
  z-index: 1;
  display:flex;
  flex-direction: row;
  margin: 7% 0;
  background-image: linear-gradient( rgb(192, 124, 34), transparent);
}

section{
  background-image: unset;
  background-color: whitesmoke;
}
section h2{
  font-size: 60px;
}

.description{
  
  width: 50%;
  height: 60%;
  padding:20px 0 20px 40px;
  font-size: 20px;
  background-color: transparent;
}

.photo {
  z-index: 1;
  position: static ;
  width: 30vw;
  height: 450px;
  background-image: url(/images/slider3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.galery{
  position: relative;
  height:40px;
  width: 150px;
  top: 380px;
  right: 6%;
  background-image: radial-gradient( white, rgb(192, 124, 34));
  color: black;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  letter-spacing: 1px;
  font-size: 25px;
}

.galery a{
  color: black;
  text-decoration: none;
}


footer{
  position:relative;
  max-width: 80vw;
  height: 50vh;
  margin: 20% auto 0 ;
  display:flex;
  flex-direction: row;
  justify-content: center;
  background-image: linear-gradient(rgb(192, 124, 34), transparent);
  font-size: 20px;
  color:black;
  overflow: hidden;
}
.meet-us, .here-we-are, .location, .message{
  width: 20%;
  height: 100%;
  padding: 20px auto;
  text-align: center;
}

.message{
  float:left;
  text-align: justify;
}

.header-in-footer{
  font-size: 35px;
  padding: 10px;
  margin-bottom: 25px;
  box-shadow:2px 2px 1px 1px rgba(0, 0, 0, .5);
  text-align: center;
}
.meet-us p{
  line-height: 140%;
  letter-spacing: 3px;
}

footer ul {
  display:flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
}

footer ul li{
  margin: 5px auto;
}

.location a{
  text-decoration: none;
  color: black;
}

.location a:hover{
  color:#555;
  border-bottom: 1px solid;
  transition: .5s;
}

form{
  width: 50%;
  margin: 0 auto;
  font-size: 15px;
}

form input{
  height: 30px;
  width:90%;
  margin: 4px;
  border: 2px solid #666 ;
  
}

form textarea{
  height: 70px;
  width:90%;
  margin: 4px;
  border: 2px solid #666 ;
}

form button{
  color: white;
  background-color: rgb(192, 124, 34);
  border: 3px solid brown;
  font-size: 16px;
  text-transform: uppercase;
  padding: 5px;
  transition: .5s;
}

form, input, textarea:focus{
  outline: none ;
 }

form button:hover{
  color: black;
  background-color: rgb(219, 189, 18);
}

.last-info{
  position: absolute;
  width: 100%;
  bottom: 20px;
  text-align: center;
}